@charset "utf-8";

/*
    New Perspectives on HTML and CSS, 7th Edition
    Tutorial 8
    Tutorial Case

    Cinema Penguin Styles for Media
    Author: Adam Rich
    Date:   2019-04-26

    Filename: cp_media.css

*/

/* Audio and Video Player Styles */

audio, video {
    box-shadow: rgb(51, 51, 51) 8px 8px 15px;
    display: block;
    margin: 10px auto;
    width: 90%;
}

/* Track Styles */

::cue {
    background: rgba(0, 0, 0, 0.3);
    color: orange;
    font: 1.2em serif;
}

::cue(.Main) {
    text-shadow: black 3px 3px 0px;
    font: 2.5em serif;
}
