/*
    New Perspectives on HTML and CSS, 7th Edition
    Tutorial 7
    Case Problem 1

    ACGIP Registration Validation Style Sheet
    Author: Adam Rich
    Date:   2019-04-26

    Filename: cg_validate.css

*/


/* Validation Styles */

input:focus, select:focus, textarea:focus {
    background-color: rgb(245, 245, 140);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
textarea#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid {
    background: rgb(220, 255, 220) url(cg_valid.png) right/contain no-repeat;
}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
textarea#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
    background: rgb(255, 232, 232) url(cg_invalid.png) right/contain no-repeat;
}
