@charset "utf-8";

/*
    New Perspectives on HTML and CSS
    Tutorial 6
    Tutorial Case

    Columns Style Sheet
    Author: Adam Rich
    Date:   2019-04-19

    Filename:         dlr_columns.css

*/



/* Column Styles */

@media only screen and (min-width: 641px) {
    
    article {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;

        -moz-column-rule: 2px solid gray;
        -webkit-column-rule: 2px solid gray;
        column-rule: 2px solid gray;

        widows: 3;
        orphans: 3;
    }

    article h1 {
        -moz-column-span: all;
        -webkit-column-span: all;
        column-span: all;
    }
}
