html,
body,
p {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
}

header, footer {
    background: #8b8d91;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#8b8d91, #444547);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8b8d91, #444547);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8b8d91, #444547);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8b8d91, #444547);
    /* Standard syntax */
    background-attachment: fixed;
}

footer {
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

main {
    background: #3461ad;
    background: -webkit-linear-gradient(left top, #3461ad, #00296d);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #3461ad, #00296d);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #3461ad, #00296d);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #3461ad, #00296d);
    /* Standard syntax */
    background-attachment: fixed;
    min-height: 100%;
}

.nav-bar {
    overflow: hidden;
    vertical-align: middle;
    display: table;
}

ul.nav-bar {
    list-style-type: none;
    display: table-cell;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
}

a.nav-item {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p.nav-item {
    color: white;
    display: table-cell;
    padding: 20px 16px;
    font-size: 2.25em;
    font-family: 'Ubuntu', sans-serif;
}

nav>ul>li>a:hover {
    color: blue;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.pic-blob {
    background: #185ece;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #185ece, #6a8cc1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #185ece, #6a8cc1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #185ece, #6a8cc1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #185ece, #6a8cc1);
    /* Standard syntax */
    margin: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#pic-image {
    max-width: 500px;
    height: auto;
}

#head-font {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
    margin: 5px;
}

#body-font {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
}

.forms {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
    margin: 5px;
}

#pic-label {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: block;
}

#under-bar {
    min-width: 100%;
}
 
 #under-cardinal {
    display: block;
    height: auto;
    width: 25%;
    margin: 0 auto;
 }
